@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img.jpg');
 background-repeat: no-repeat;
  background-size: cover;

}

.box {
  width: 100%;
}

.text-box{
  text-align: left;
  float: left;
  width: 50%;
  position: relative;
  background: #fff;
  margin: 10px;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgb(1 1 1 / 10%);
}

.text-box .top-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.text-box .top-area h2{
  font-size: 1.5em;
  font-weight: 700;
}

.text-box .top-area .copy-btn{
  background: #eee;
  color: #999;
  font-size: 1.5em;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.text-box .top-area .copy-btn:hover{
  color: #222;
}

.text-box textarea{
  width: 100%;
  min-height: 450px;
  font-size: 1em;
  padding: 10px;
  outline: none;
  resize: none;
  border-radius: 5px;
  border: 1px solid #009FEF;
  color: white;
}

textarea::placeholder {
  color: gray;
}

.submit-area button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.link-box {
  margin-top: 10px;
 float: right;
  width: 50%;
}

.link-box input {
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #555;
}

select option {
  background-color: white;
  color: #555;
}

select:focus {
  outline: none;
  border-color: #009FEF;
  box-shadow: 0 0 0 3px rgba(0, 159, 239, 0.2);
}





